{{>header}}
    <body>
        <div class = 'container'>
            <div>
                <h1 id='title'>{{title}}</h1>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>This site is created by Deekshith Podila.I used an api Built by <em>Kyle Redelinghuys</em> the link to that api is <a href='https://covid19api.com/'>here</a> and the data was sourced from <em>Jhons Hopkins</em>
                .<strong>just for educaitonal purposes.</strong></p>
                    <footer class="blockquote-footer">If you want to reach out, my email:deekshith4450@gmiil.com</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </body>
{{>footer}}