
{{>header}}
    <body>
    
        <div class = 'container'>
            <div>
                <h1 id='title'>{{title}}</h1>
            </div>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h4 class="display-4">TIPS</h4>
                    <ul>
                        <li><p>Stay home and stay safe</p></li>
                        <li><p>Maintain social distancing</p></li>
                        <li><p>use hand sanitizers</p></li>
                        <li><p>Wash your hands with soap or hand wash</p></li>
                    </ul>
                    <div class='note'>
                        <p>Note... Please type full names of the country</p>
                        <p>Ex:"united kingdom"</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
{{>footer}}